/* Styles go here */

.result {
    color: rgb(16, 17, 19);
    font-size: 36px;
  }
  
  .command {
      cursor: pointer;
      color: #00B;
    font-size: 13px;
    font-weight: bold;
  }
  